# See http://help.github.com/ignore-files/ for more about ignoring files.

/.tmux/plugins/
/.anyenv/
anyenv
.zshenv
*.zwc
.zcompdump
hammerspoon/Spoons

direnv/allow/*
.gnupg/*
!.gnupg/*.conf
.zsh/completion/*
karabiner/automatic_backups

# emac settings
.emacs.d/eshell/lastdir
.emacs.d/eshell/history
.emacs.d/bookmarks
.emacs.d/transient/history.el
.emacs.d/customized.el

/htop/htoprc
/configstore/update-notifier-npm.json

gcloud
hub
/gh/config.yml
/gh/state.yml

Brewfile.lock.json
.ghqconfig
