# See http://help.github.com/ignore-files/ for more about ignoring files.

/.tmux/plugins/
/.anyenv/
anyenv
.zshenv
*.zwc
.zcompdump

direnv/allow/*

.gnupg/*
!.gnupg/*.conf
.zsh/completion/*
karabiner/automatic_backups

# emac settings
.emacs.d/eshell/lastdir
.emacs.d/eshell/history
.emacs.d/bookmarks
